<p id="notice"><%= notice %></p>
<% @reader.shows.each do |s|%>
    <td> <%= s %><br>
<%end %>
<p>
<div class="center">
  <strong>line 1</strong>

      <table>

<tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
</tr>
<tr>


            <%= render partial: "line" %>

</tr>

</td>

  </table>
</div>