// Place all the styles related to the Readers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, td, th {
  border: 1px solid green;
}

th {
  background-color: green;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}